{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, 
        initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/\
        bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81i\
        uXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

        <title>EFFs blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class = "nav-left">
                {% if user.is_authenticated %}
                    <h1><a href="{% url 'home' %}">EFFs blog</a></h1>
                {% else %}
                    <h1><a href="{% url 'login' %}">EFFs blog</a></h1>
                {% endif %}
            </div>
            <div class = "nav-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'new_post' %}">+ New Blog Post</a>
                {% else %}
                    <a href="{% url 'login' %}">+ New Blog Post</a>
                {% endif %}
            </div>
        </header>
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Log out</a></p>
        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>