{% extends 'base.html' %}

{% block content %}
    {% for post in all_blogs_list %}
        <div class="post-entry">
            <h3><a href="{% url 'blog_details' post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.author }}</p>
        </div>
        {% for comments in post.comment.all %}
            <div class="post-entry">
                <p>
                    <h6>{{comments.author}}</h6>
                    {{comments.comment}}
                </p>
            </div>
        {% endfor %}
        
    {% endfor %}
{% endblock content %}